// Color

$very-light-gray: #EEEEEE;
$light-grayish-blue: #EFF3F6;
$grayish-blue: #E6EAEE;
$bright-blue: #2EA1F8;
$blue: #009DDC;
$vivid-blue: #1990EA;
$dark-blue: #1166A5;
$white: #FFFFFF;
$moderate-lime-green: #39B54A;
$dark-moderate-lime-green: #34AA44;
$lime-green: #249533;
$lime-green: #1E930B;
$dark-lime-green: #1E9D09;
$strong-orange: #B54C0D;

// Font weight
$light-weight: 300;
$normal-weight: 400;
$bold-weight: 600;