<h1>Listing Test</h1>

<table>
  <thead>
    <tr>
      <th>Integer</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for test <- @test do %>
    <tr>
      <td><%= test.integer %></td>

      <td>
        <%= link "Show", to: Routes.test_path(@conn, :show, test) %>
        <%= link "Edit", to: Routes.test_path(@conn, :edit, test) %>
        <%= link "Delete", to: Routes.test_path(@conn, :delete, test), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Test", to: Routes.test_path(@conn, :new) %></span>
